main#menu-login {
    background-image: url('../../img/background/prato2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    margin:  0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    position: relative;
    
}

main #login {   
    min-height: 450px;
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ffffffc9 ;
    border-radius: 13px;
    box-shadow: 5px 3px 6px rgba(0, 0, 0, 0.24);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#login > .icon {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    color:#198754 !important;
}
#login .button-login {
    margin: auto 0;
    display: flex;
    justify-content: center;
}
#login .btn {
    margin: 10px;
}

#login a{
    color:#198754;
}

.area-link {
    background-color: #198754;
    min-height: 35px;
    height: auto;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end ;
    align-items: center;
}


.area-link  > li {
    width: auto;
    margin: 0 15px;
    list-style: none;
    color: white;
    font-weight: 500;
}

.area-link a {
    text-decoration: none;
    color: white;
}


.area-link a:hover {
    color: rgba(223, 10, 45, 0.767);
    
}