.bnt-enviar {
    height: 50px;
}
.lostpass {
    background-image: url('../../img/background/prato2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    margin:  0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    position: relative;
    
}

.lostpass a{
    color:#198754;
}